.greeting {
    border: 1px solid #1a212ef9;
    border-radius: 1px;
    border-color: rgba(26, 33, 46, 0.975);
    background-color: rgba(26, 33, 46, 0.975);
    color: #efefefff;
}

.hand {
    padding-left: 30px !important;
}
.description {
    padding-top: 30px;
    color: #efefefff !important;
    text-align: justify;
    line-height: 140%;
    font-size: 19px;
}

.stack {
    padding-top: 30px;
    color: #efefefff !important;
}
.stack-icon {
    padding-top: 30px ;
    padding-left: 5px;
}